/*
* @Author: admin
* @Date:   2018-09-28 08:58:14
* @Last Modified by:   香芋
* @Last Modified time: 2018-10-18 19:57:38
*/
*{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
a{
	text-decoration: none;
}
.logo{
	display: inline-block;
	padding: 10px 5px 6px 10px;
}
#bd{
	border: none;
	background-color: transparent;
	transition:0.5s;
}

img{
	height: auto;
}
.size{
	font-size: 11px;
}
.navbar .collapse .size li a{
	color: #000;
}
.navbar .collapse .size li a:hover{
	font-weight:700;
	text-decoration: underline;
}
.size2{
	font-size: 11px;
}
.navbar .collapse .size2 li a{
	color: #000;
}
.navbar .collapse .size2 li a:hover{
	color: #c5c5c5;
}
#wd{
	width: 100%;
	margin:0px;
	display:none;
	transition:1s;
	border: none;
}
#lis{
	padding:3.25px;
}
#wd #wd1{
 	display:inline-block;
	margin-left: 5%;
}
 #wd #wd1 li{
	line-height: 30px;
 }
 #wd #wd1 li a{
	font-size:12px;
}
#wd ol{
	float: right;
	margin-right: 5%;
}
#wd ol li{
	float:left;
	cursor: pointer;
}
#wd ol li p{
	text-align: center;
	font-size:12px;
}
#wd2{
	width: 100%;
	margin:0px;
	display:none;
	transition:1s;
	border: none;
}
#wd2 ol{
	float: right;
	margin-right: 5%;
}
#wd2 ol li{
	float:left;
	cursor: pointer;
}
#wd2 ol li p{
	text-align: center;
	font-size:12px;
}
#lis2{
	padding:3.25px;
}
#wd2 #wd3{
 	display:inline-block;
	margin-left: 5%;
}
#wd2 #wd3 li{
	line-height: 30px;
 }
#wd2 #wd3 li a{
	font-size:12px;
}
#lis3{
	padding:3.25px;
}
#wd4{
	width: 100%;
	margin:0px;
	display:none;
	transition:1s;
	border: none;
}
#wd4 ol{
	float: right;
	margin-right: 5%;
}
#wd4 ol li{
	float:left;
	cursor: pointer;
}
#wd4 ol li p{
	text-align: center;
	font-size:12px;
}
#wd4 #wd5{
 	display:inline-block;
	margin-left: 5%;
}
#wd4 #wd5 li{
	line-height: 30px;
 }
#wd4 #wd5 li a{
	font-size:12px;
}
#lis4{
	padding:3.25px;
}
#wd6{
	/* height:300px; */
	width: 100%;
	margin:0px;
	display:none;
	transition:1s;
	border: none;
}
#wd6 ol{
	float: right;
	margin-right: 5%;
}
#wd6 ol li{
	float:left;
	cursor: pointer;
}
#wd6 ol li p{
	text-align: center;
	font-size:12px;
}
#wd6 #wd7{
 	display:inline-block;
	margin-left: 5%;
}
#wd6 #wd7 li{
	line-height: 30px;
 }
#wd6 #wd7 li a{
	font-size:12px;
}
@media(max-width:1024px){
	.yi li img{
		width:180px;
	}
	.yi{
		max-width:76%;
	}
	.er li img{
		width:180px;
	}
	.er{
		max-width:76%;
	}
	.san li img{
		width:180px;
	}
	.san{
		max-width:76%;
	}
	.si li img{
		width:180px;
	}
	.si{
		max-width:76%;
	}
	#pd2 .pos1 #text .h1{
		display: none;
	 }
}
@media(max-width:768px){
	.logo{
		margin-left:31%;
	}
	#btn{
 		float:left;
 		border:none;
 		padding:15px;
 	}
 	.wrapper{
 		margin-top:10%;
 	}
	.yi{
	display:none;
	}
	.er{
		display:none;
	}
	.san{
		display:none;
	}
	.si{
		display:none;
	}
#link{
		width:50%;
		float: none;
		margin-left:35%;
	}
form{
		text-align:center;
	}
}
@media(max-width:415px){
	.logo{
	margin-left:20%;
}
	.yi{
	display:none;
}
.er{
	display:none;
}
.san{
	display:none;
}
.si{
	display:none;
}
form{
		text-align:center;
	}
	#link{
	width:43%;
	margin:0px auto;
	float:none;
	}
	#uls{
	width:125%;
	margin-left:5%;
	float:none;
	}
}
@media(max-width:372px){
.logo{
	margin-left:15%;
}
.yi{
	display:none;
}
.er{
	display:none;
}
.san{
	display:none;
}
.si{
	display:none;
}
form{
		text-align:center;
	}
#link{
	width:50%;
	margin:0px auto;
	float:none;
	}
#uls{
	width:125%;
	margin-left:-8%;
	float:none;
	}
}
footer ul{
	float: right;
}
#footer-inner{
	padding: 20px;
}
footer ul li{
	float: left;
	cursor: pointer;
	margin-right: 20px;
}
input{
	height: 36px;
    max-width:100%;
    font-size: 11px;
    text-transform: uppercase;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
input::-webkit-input-placeholder {
    text-align: center;
}
input:focus{
	outline: none;
	border-bottom: 1px solid #000;
	transition: 0.5s;
}
#sp{
	display:block;
	text-align: center;
	padding-top: 1%;
}
#uls{
	margin-top: 3%;
}

#uls li a{
	color: #000;
	text-decoration: none;
}
#uls li a:hover{
	color: #ccc;
}
